* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

a {
  text-decoration: none; 
}
ul {
  list-style: none;
}

/* header */
header {
  width: 100%;
  height: 100px;
  background-color: lightcyan;
}

#logo {
  float: left;
  width: 250px;
  height: 100px;
  padding-left: 20px;
  line-height: 100px;
}
#logo h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #99c2ff;
  text-shadow: 0 2px black;
}

/* nav */
nav {
  float: right;
  width: 900px;
  height: 100px;
  padding-top: 40px;
}

#topMenu {
  height: 60px;
}
#topMenu > li {
  float: left;
  position: relative;
}
#topMenu > li > a {
  display: block;
  font-size: 1.1em;
  color: black;
  font-weight: 600;
  padding: 10px 60px;
}
#topMenu > li > a:hover {
  color: lightgray;
  text-shadow: 0 2px #222;
}

/* airport */
.airport {
  display: block;
  color: black;
}
h2 {
  font-size: 1.4em;
  font-weight: 700;
  text-align: center;
}
h3 {
  font-size: 1.0em;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
}
section {
  width: 800px;
  margin: 0 auto;
}
section > ul {
  width: 100%;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #222;
  border-radius: 3px;
}
section > ul > li {
  text-align: center;
  font-size: 1.0em;
}
ul > li > a:hover {
    background-color: #0086b3;
    color: #fff;
}