* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#container {
  width: 1200px;
  height: 900px;
  margin: 0 auto;
  background-color: white;
}

body {
  background: url(/html/images/airsky.jpg) no-repeat bottom fixed;
}

a {text-decoration: none;}
ul {list-style: none;}

/* header */
header {
  width: 100%;
  height: 100px;
  background: lightcyan;
  position: sticky;
  top: 0px;
}

#logo {
  float: left;
  width: 250px;
  height: 100px;
  padding-left: 20px;
  line-height: 100px;
}
#logo h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #99c2ff;
  text-shadow: 0 2px black;
}

/* nav */
nav {
  float: right;
  width: 900px;
  height: 100px;
  padding-top: 40px;
}

#topMenu {
  height: 60px;
}
#topMenu > li {
  float: left;
  position: relative;
}
#topMenu > li > a {
  display: block;
  font-size: 1.1em;
  color: black;
  font-weight: 600;
  padding: 10px 60px;
}
#topMenu > li > a:hover {
  color: lightgray;
  text-shadow: 0 2px #222;
}

/* footer */
footer {
  width: 100%;
  height: 200px;
}
#footer {
  width: 1200px;
  height: 20px;
  margin-left: 400px;
}
#footer ul {
  margin-top: 750px;
}
#footer ul li {
  float: left;
  padding: 5px 20px;
  border-right: 1px solid #ddd;
}
#footer ul li:last-child {
  border: none;
}