@import url('home.css');

* {
  text-align: center;
}

fieldset {
  width: 500px;
  margin: 5% auto;
  border-width: thin;
}

ul {
  line-height: 40px;
}

input {
  border-radius: 5px;
  border-width: thin;
  margin: 5px;
  padding: 5px;
}

#login1 h1 {
  margin: 50px;
}

#login1 {
  margin: auto;
}

#login1 label {
  float: left;
  font-size: 15px;
  width: 100px;
}

#login2 input {
  padding: 5px 10px;
  margin-bottom: 40px;
}