@import url('home.css');

#login1 {
  width: 500px;
  margin: 0 auto;
  background-color: violet;
}

h1 {
  margin: 20px;
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;
}

fieldset {
  height: 500px;
  text-align: center;
}
fieldset > ul {

  background-color: blue;
  line-height: 30px;
  margin-top: 90px;
}
fieldset > ul > li {
  margin: 20px;
}

label {
  text-align: right;
  background-color: red;
}

input[type="text"], input[type="password"] {
  width: 300px;
}

#login2 {
  background-color: brown;
}
#login2 > a > input {
  width: 100px;
  margin: 20px;
}